.players-online-div {
  margin-top: 10px;
}

.world-player-virtual-scroll {
  width: 100%;
  height: 400px;
}

.world-player-filter-virtual-scroll {
  width: 100%;
  height: auto;
}

.scroll-div {
  margin: 10px;
}