<div class="row" *ngIf="isPageLoaded">
  <div class="col-md-6">
    <!--World information-->
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h5>World Information</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="position-relative">
        <img class="float-right" [src]='world.pvpType | worldPvp:true' [matTooltip]="world.pvpType | worldPvp">
      </div>
      <div class="row">
        <div class="col-md-6">
          <p><b>Name</b>: {{world.name}}</p>
          <p><b>Players Online</b>: {{world.numberOfPlayersOnline}}</p>
          <p><b>Online Record</b>: {{world.onlineRecord.playersOnline}} on {{world.onlineRecord.at.date | date:'MMMM
            dd
            yyyy,
            HH:mm:ss'}}
            {{world.onlineRecord.at.timezone}} </p>
          <p><b>Creation Date</b>: {{world.creationDate | date:'MMMM, yyyy'}}</p>
        </div>
        <div class="col-md-6">
          <p><b>Location</b>: {{world.location | worldLocation}}</p>
          <p><b>Battle Eye Status</b>: {{world.battleEyeStatus}}</p>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
  <div class="col-md-6">
    <!--World Quests-->
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h5>World Quests - Total: {{world.worldQuestTitles.length}}</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-grid-list cols="2" rowHeight="6:1">
        <mat-grid-tile *ngFor="let title of world.worldQuestTitles">{{title}}</mat-grid-tile>
      </mat-grid-list>
    </mat-expansion-panel>
  </div>
</div>

<div class="row players-online-div" *ngIf="isPageLoaded">
  <div class="col-md-12">
    <mat-accordion multi="true">
      <!--Players Online-->
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h5>Players Online - Total: {{world.playersOnline.length}}</h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- World Players Filters -->
        <app-world-details-player-filter (filterChangedEvent)="filterWorldPlayers($event)" (worldPlayerSelectedEvent)="onWorldPlayerSelected($event)"
          [filteredWorldPlayersOptions]="filteredWorldPlayersOptions"></app-world-details-player-filter>

        <cdk-virtual-scroll-viewport class="world-player-virtual-scroll" autosize #worldPlayersViewPort [itemSize]="filteredWorldPlayers.length">
          <div class="row scroll-div">
            <app-character *cdkVirtualFor="let char of filteredWorldPlayers" class="col-md-6" [character]="char"></app-character>
          </div>
        </cdk-virtual-scroll-viewport>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
