<div class="row favorite-row" *ngIf="isPageLoaded && !characterNotFound">

  <div class="col-md-12">
    <div class="float-left">
      <h4>{{character.name}}'s Information</h4>
    </div>
    <div class="float-right">
      <button mat-mini-fab [matTooltip]="isInFavorites ?  'Remove from your favorite list' : 'Add this character to your favorite list'"
        (click)="saveToFavorites()" [color]="isInFavorites ? 'warn': 'accent'">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>
</div>

<div class="row" *ngIf="isPageLoaded && !characterNotFound">
  <div class="col-md-6">
    <mat-accordion multi="true">
      <!--General information-->
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h5>Character Information</h5>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col-md-5">
            <p>Name: {{character.name}}</p>
            <p>Level: {{character.level}}</p>
            <p>Sex: {{character.sex | sex}}</p>
            <p>Vocation: {{character.vocation | vocationTitle}}</p>
            <p [class.online-status]="character.status === 1" [class.offline-status]="character.status === 0">Status:
              {{character.status | status}}</p>
            <p *ngIf="character.guild">Guild Membership: {{character.guild.guildRank}} of the <a [routerLink]="['/guild',character.guild.guildName]">{{character.guild.guildName}}</a></p>
            <p *ngIf="character.house">House: <a [routerLink]="['/house',character.house.id ]">{{character.house.name}}</a>
              ({{character.house.town | town}}) is paid until {{character.house.paidUntil |
              date:'MMMM dd yyyy,
              H:mm:ss'}} </p>
          </div>
          <mat-divider class="col-md-1" [vertical]="true"></mat-divider>
          <div class="col-md-5">
            <p>Account Status: {{character.accountStatus | accountStatus}}</p>
            <p>Achievement Points: {{character.achievementPoints}}</p>
            <p *ngIf="character.comment">Comment: {{character.comment}}</p>
            <p>Last Login: {{character.lastLogin.date | date:'MMMM dd yyyy, H:mm:ss'}} {{character.lastLogin.timezone}}
            </p>
            <p *ngIf="character.marriedTo">MarriedTo: {{character.marriedTo}}</p>
            <p>Residence: {{character.residence}}</p>
            <p>World: {{character.world}}</p>
          </div>
        </div>
      </mat-expansion-panel>

      <!--Achievemnts information-->
      <mat-expansion-panel expanded="true" *ngIf="character.achievements">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h5>Achievemnts - Total: {{character.achievementPoints}}</h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list *ngIf="character.achievements.length > 0">
          <mat-list-item *ngFor="let achievement of character.achievements">
            <mat-icon matListIcon *ngFor="let i of getStarsArray(achievement.stars)">star</mat-icon>
            <h5 matLine> {{achievement.name}} </h5>
          </mat-list-item>
        </mat-list>
        <p *ngIf="character.achievements.length === 0">There are no achievements set to be displayed for this
          character.</p>
      </mat-expansion-panel>

      <!--Account information-->
      <mat-expansion-panel expanded="true" *ngIf="character.accountInformation">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h5>Account Information</h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Loyalty Title: {{character.accountInformation.loyaltyTitle}}</p>
        <p>Created: {{character.accountInformation.createdAt.date | date:'MMMM dd yyyy, H:mm:ss'}}
          {{character.accountInformation.createdAt.timezone}}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="col-md-6">
    <mat-accordion multi="true">
      <!--Character deaths information-->
      <mat-expansion-panel expanded="true" *ngIf="character.deaths && character.deaths.length > 0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h5>Character Deaths</h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let death of character.deaths">
            <div class="row align-items-center">
              <div class="col-md-2">
                <p class="p-without-margins">{{death.diedAtLevel}} Level</p>
              </div>
              <div class="col-md-10">
                <p class="p-without-margins">{{death.diedAt.date | date:'MMMM dd yyyy, HH:mm:ss'}}
                  {{death.diedAt.timezone}} {{death.reason}}</p>
              </div>
              <mat-divider></mat-divider>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <!--Other characters information-->
      <mat-expansion-panel expanded="true" *ngIf="character.otherCharacters && character.otherCharacters.length > 0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h5>Characters</h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
        <table mat-table [dataSource]="character.otherCharacters" class="mat-elevation-z1">

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let element"><a [routerLink]="['/character', element.name]">{{element.name}}</a>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="world">
            <mat-header-cell mat-header-cell *matHeaderCellDef>World</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element">{{element.world}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element" [class.online-status]="element.status === 1"
              [class.offline-status]="element.status === 0">{{element.status | status}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div class="row" *ngIf="characterNotFound">
  <div class="col-md-12">
    <h1>Character not found</h1>
  </div>
</div>
