/* .example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid rgb(228, 16, 16);
  }
   */
mat-sidenav {
  width: 300px;
}

.side-nav-item {
  margin-left: 20px;
}

.side-nav-image-container {
  position: relative;
  text-align: center;
  color: white;
}

.side-nav-main-image{
  width: 300px;
  height: 190px;
}

.bottom-left {
  position: absolute;
  bottom: 1px;
  width: 100%;
  margin-left: 10px;
}

.players-online-text{
  margin-left: 10px;
  text-align: initial;
  font-size: 21px;
}