<!-- Progress bar -->
<mat-progress-bar mode="indeterminate" *ngIf="isProgressBarVisible"></mat-progress-bar>

<!-- ToolBar -->
<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="side.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-icon-button *ngIf="isBackButtonVisible" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1 class="example-app-name">{{title}}</h1>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Side nav -->
  <mat-sidenav #side [fixedInViewport]="true" mode="push" [(opened)]="isSideNavOpened">
    <div class="side-nav-image-container">
      <img class="side-nav-main-image" src="../assets/images/tibia_logo.jpg">
      <div class="bottom-left">Players Online: {{playersOnline}}</div>
    </div>

    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of sideNavItems" (click)="onSideNavItemClick(item.id)" [routerLink] ="item.url">
        <mat-icon>{{item.icon}}</mat-icon>
        <span class="align-middle side-nav-item">{{item.text}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- Side nav content -->
  <mat-sidenav-content>
    <!-- Main Content -->
    <div class="container allButFooter">
      <router-outlet></router-outlet>
    </div>
    <!-- Footer -->
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
