<footer class="app-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>© Copyright 2018</h3>
        <h6>Wolfteam20. All rights reserved</h6>
      </div>
      <div class="col-md-4 offset-md-2">
        <h3><a href="https://github.com/Wolfteam">GitHub</a></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Tibia® is a registered trademark of CipSoft GmbH.
          Tibia and all products related to Tibia are copyright by CipSoft GmbH.<br>
          TibiaData API is developed by Tobias Lindberg in 2016-2018. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
